<div class="relative w-full h-full overflow-hidden flex flex-col items-center justify-center">

    <div class="dock">
        <form class="grid grid-cols gap-8">
            <div class="col-span-1">
                <mat-form-field appearance="outline" class="w-full neumorphicInput custom no_hint">
                    <input matInput placeholder="Ex. Pizza" value="">
                </mat-form-field>
            </div>

            <div class="col-span-1">
                <mat-form-field appearance="outline" class="w-full neumorphicInput custom no_hint">
                    <input matInput placeholder="Ex. Pizza" value="">
                </mat-form-field>
            </div>

            <div class="col-span-1">
                <button type="button" mat-flat-button class="neumorphicButton bg-yellow-400 color-blend full rounded">
                    <span class="text-over-color">Login</span>
                </button>
            </div>

            <div class="col-span-1">
                <button type="button" mat-flat-button class="neumorphicButton bg-[var(--mat-sys-background)] full rounded">
                    <span class="text">Signup</span>
                </button>
            </div>

            <div class="flex items-center justify-center w-full h-[24]">
                <a href="https://google.com" class="neumorphicLink" matRipple><span>Esqueci minha senha</span></a>
            </div>


        </form>
    </div>

</div>
