<div class="backdrop" (click)="sidebar = false" [ngClass]="{'hidden': !sidebar}"></div>

<div class="w-full h-full flex flex-col gap-4 p-4 box-border" style="background-color: #EDEDED">
    <!-- <div class="bg-slate-400 menu">
        <span (click)="sidebar = true" class="flex items-center justify-center w-[48px] aspect-square overflow-hidden" style="border-radius: 50%;" matRipple>
            <span class="w-[24px] h-[24px] bg-no-repeat bg-contain bg-center" style="background-image: url('assets/icons/bars-solid.svg')"></span>
        </span>
    </div> -->

    <div class="aside" [ngClass]="{'active': sidebar}"></div>

    <div class="w-full h-full flex items-center justify-center">
        <div class="dock w-full h-full md:max-w-[60dvw] grid grid-cols-4 md:grid-cols-6 box-border">

            <ng-container *ngFor="let item of appList">
                <div class="flex flex-col items-center justify-center aspect-square gap-1">
                    <div class="icon">
                        <div class="absolute w-full h-full overflow-hidden select-none" style="border-radius: 32px; z-index: 3;" matRipple></div>
                        <div class="content">
                            <span class="logo" style="background-image: url('{{item.icon}}')"></span>
                        </div>
                        <span class="squircle" [style]="item.bg">
                            <span class="opacity-0">i</span>
                        </span>
                    </div>
                    <span class="w-full text-center" style="font-size: 12px;">{{item.name}}</span>
                </div>
            </ng-container>


        </div>
    </div>

</div>
