<div class="w-full h-full box-border overflow-x-hidden">
    <div class="w-full h-max flex flex-col overflow-y-auto overflow-x-hidden box-border">
        <div class="w-full h-[48px] flex flex-row justify-end bg-blue-900">
            <div class="flex flex-row gap-6 items-center px-4 box-border">
                <span>Acessibilidade</span>
                <span>Alto Contraste</span>
                <span>Mapa do Site</span>
                <div class="flex flex-row gap-2">
                    <span>A+</span>
                    <span>A</span>
                    <span>A-</span>
                </div>
            </div>
        </div>

        <div class="w-full h-[48px] flex flext-row justify-between bg-white">
            <div class="flex flex-col justify-center items-start">
                <span>Prefeitura de</span>
                <span>Santo Antônio do Tauá</span>
            </div>

            <div class="flex flex-row gap-4 items-center">
                <span>Serviços Digitais</span>
                <span>Secretarias</span>
                <span>Turismo</span>
                <span>Notícias</span>
                <span>Transparência</span>
                <span>Diário Oficial</span>
                <span>Diário Menus</span>
            </div>
        </div>

        <div class="w-full h-[600px] md:h-[60dvh] flex items-center justify-center bg-gray-500">
            <div
                class="search relative w-[80%] md:w-[60dvw] h-[48px] flex flex-row bg-white overflow-hidden rounded-xl">
                <input type="text" class="w-full h-[48px] p-4 box-border outline-none border-none"
                    placeholder="Pesquisar...">
                <div
                    class="absolute right-0 top-0 h-[48px] aspect-square rounded-xl bg-blue-900 flex items-center justify-center">
                    <span class="material-symbols-rounded">
                        search
                    </span>
                </div>
            </div>
        </div>

        <div class="w-full flex justify-center">
            <div class="w-full xl:w-[80dvw] flex flex-col p-4 gap-4 box-border">
                <div class="flex flex-row gap-2">
                    <div class="indicador w-[4px] h-full bg-blue-500"></div>
                    <div class="flex flex-col">
                        <span>O que eu</span>
                        <span class="font-bold" style="font-size: 1.5rem;">Preciso?</span>
                    </div>
                </div>

                <div class="w-full grid grid-cols-[repeat(auto-fill,minmax(200px,1fr))] gap-4">
                    <div class="w-full h-[64px] flex items-center justify-center bg-blue-400 rounded-2xl">
                        <span>Reparo de Lâmpadas</span>
                    </div>
                    <div class="w-full h-[64px] flex items-center justify-center bg-blue-400 rounded-2xl">
                        <span>Reparo de Buracos</span>
                    </div>
                    <div class="w-full h-[64px] flex items-center justify-center bg-blue-400 rounded-2xl">
                        <span>Remoção de Entulho</span>
                    </div>
                    <div class="w-full h-[64px] flex items-center justify-center bg-blue-400 rounded-2xl">
                        <span>Coleta de Lixo</span>
                    </div>
                    <div class="w-full h-[64px] flex items-center justify-center bg-blue-400 rounded-2xl">
                        <span>Fiscalização de Obras</span>
                    </div>
                    <div class="w-full h-[64px] flex items-center justify-center bg-blue-400 rounded-2xl">
                        <span>Estacionamento Irregular</span>
                    </div>
                    <div class="w-full h-[64px] flex items-center justify-center bg-blue-400 rounded-2xl">
                        <span>Consulta a processos</span>
                    </div>
                    <div class="w-full h-[64px] flex items-center justify-center bg-blue-400 rounded-2xl">
                        <span>Poda de Árvores</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="w-full flex justify-center">
            <div class="w-full xl:w-[80dvw] flex flex-col p-4 gap-4 box-border">
                <div class="flex flex-row gap-2">
                    <div class="indicador w-[4px] h-full bg-blue-500"></div>
                    <div class="flex flex-col">
                        <span class="font-bold" style="font-size: 1.5rem;">Programas Sociais?</span>
                    </div>
                </div>

                <div class="w-full grid grid-cols-3 gap-4">
                    <div class="w-full h-[200px] flex items-center justify-center bg-blue-400 rounded-2xl">
                        <span>Reparo de Lâmpadas</span>
                    </div>
                    <div class="w-full h-[200px] flex items-center justify-center bg-blue-400 rounded-2xl">
                        <span>Reparo de Buracos</span>
                    </div>
                    <div class="w-full h-[200px] flex items-center justify-center bg-blue-400 rounded-2xl">
                        <span>Remoção de Entulho</span>
                    </div>

                </div>
            </div>
        </div>

        <div class="w-full flex justify-center">
            <div class="w-full xl:w-[80dvw] flex flex-col p-4 gap-4 box-border">
                <div class="flex flex-row gap-2">
                    <div class="indicador w-[4px] h-full bg-blue-500"></div>
                    <div class="flex flex-col">
                        <span class="font-bold" style="font-size: 1.5rem;">Serviços por perfil?</span>
                    </div>
                </div>

                <div class="w-full grid grid-cols-3 gap-4">
                    <ng-container *ngFor="let item of [0,0,0]">
                        <div class="w-full h-[300px] flex flex-col items-center justify-center bg-blue-400 rounded-2xl gap-4"
                            style="flex: 1">
                            <div class="w-[64px] aspect-square flex items-center justify-center pt-6">
                                <span style="font-size: 4.6rem;" class="material-symbols-rounded">
                                    person
                                </span>
                            </div>
                            <div class="flex flex-col w-full items-center justify-center">
                                <span style="font-size: 1.5rem;">Cidadão</span>
                                <span style="font-size: 1.0;">Encontre serviços destinados a todos os cidadãos</span>
                            </div>
                            <div class="neumorphicButton small h-[48px]">
                                <span>Acesse os Serviços</span>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>

        <div class="w-full flex justify-center">
            <div class="w-full xl:w-[80dvw] flex flex-col p-4 gap-4 box-border">
                <div class="flex flex-row gap-2">
                    <div class="indicador w-[4px] h-full bg-blue-500"></div>
                    <div class="flex flex-col">
                        <span class="font-bold" style="font-size: 1.5rem;">Secretarias</span>
                    </div>
                </div>

                <div class="w-full grid grid-cols-[repeat(auto-fill,minmax(200px,1fr))] gap-4">
                    <div class="w-full h-[64px] flex items-center justify-center bg-blue-400 rounded-2xl">
                        <span>SEMOB</span>
                    </div>
                    <div class="w-full h-[64px] flex items-center justify-center bg-blue-400 rounded-2xl">
                        <span>SEURB</span>
                    </div>
                    <div class="w-full h-[64px] flex items-center justify-center bg-blue-400 rounded-2xl">
                        <span>SESMA</span>
                    </div>
                    <div class="w-full h-[64px] flex items-center justify-center bg-blue-400 rounded-2xl">
                        <span>SEMMA</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="w-full flex justify-center">
            <div class="w-full xl:w-[80dvw] flex flex-col p-4 gap-4 box-border">
                <div class="flex flex-row gap-2">
                    <div class="indicador w-[4px] h-full bg-blue-500"></div>
                    <div class="flex flex-col">
                        <span class="font-bold" style="font-size: 1.5rem;">Notícias</span>
                    </div>
                </div>

                <div class="w-full grid md:grid-cols-2 xl:grid-cols-4 gap-4">
                    <ng-container *ngFor="let item of lstNews">
                        <ng-container [ngSwitch]="item.type">
                            <div *ngSwitchCase="1" class="col-span-1  xl:col-span-4 h-[300px] bg-red-500 p-4 rounded-2xl box-border">
                                <h2>{{ item.title }}</h2>
                                <p>{{ item.description }}</p>
                                <img [src]="item.image" alt="{{ item.title }}" class="w-full h-auto">
                                <p>{{ item.date }}</p>
                            </div>
                            <div *ngSwitchCase="2" class="col-span-1  xl:col-span-2 h-[300px] bg-green-500 p-4 rounded-2xl box-border">
                                <h2>{{ item.title }}</h2>
                                <p>{{ item.description }}</p>
                                <img [src]="item.image" alt="{{ item.title }}" class="w-full h-auto">
                                <p>{{ item.date }}</p>
                            </div>
                            <div *ngSwitchCase="3" class="col-span-1 h-[300px] bg-blue-400 p-4 rounded-2xl box-border">
                                <h2>{{ item.title }}</h2>
                                <p>{{ item.description }}</p>
                                <img [src]="item.image" alt="{{ item.title }}" class="w-full h-auto">
                                <p>{{ item.date }}</p>
                            </div>
                            <div *ngSwitchCase="4" class="relative col-span-1 h-[300px] box-border">
                                <div class="w-full h-full flex flex-col">
                                    <div class="w-full h-full flex-grow-1 bg-purple-400 p-4 rounded-2xl box-border mb-4" >
                                        <h2>{{ item.title }}</h2>
                                        <p>{{ item.description }}</p>
                                        <img [src]="item.image" alt="{{ item.title }}" class="w-full h-auto">
                                        <p>{{ item.date }}</p>
                                    </div>
                                    <div class="w-full h-[48px] flex-grow-1 bg-purple-400 p-4 rounded-2xl box-border"></div>
                                </div>
                            </div>
                            <div *ngSwitchDefault class="col-span-1 h-[300px] bg-gray-400 p-4 rounded-2xl">
                                <p>Tipo desconhecido</p>
                            </div>
                        </ng-container>
                    </ng-container>
                </div>


            </div>
        </div>

        <div class="w-full flex justify-center">
            <div class="w-full xl:w-[80dvw] flex flex-col p-4 gap-4 box-border">
                <div class="flex flex-row gap-2">
                    <div class="indicador w-[4px] h-full bg-blue-500"></div>
                    <div class="flex flex-col">
                        <span class="font-bold" style="font-size: 1.5rem;">Redes Sociais</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="w-full flex justify-center">
            <div class="w-full xl:w-[80dvw] flex flex-col p-4 gap-4 box-border">
                <div class="flex flex-row gap-2">
                    <div class="indicador w-[4px] h-full bg-blue-500"></div>
                    <div class="flex flex-col">
                        <span class="font-bold" style="font-size: 1.5rem;">Endereços</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="w-full flex justify-center">
            <div class="w-full xl:w-[80dvw] flex flex-col p-4 gap-4 box-border">
                <div class="flex flex-row gap-2">
                    <div class="indicador w-[4px] h-full bg-blue-500"></div>
                    <div class="flex flex-col">
                        <span class="font-bold" style="font-size: 1.5rem;">Diário Oficial</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
