<div class="w-full h-full flex flex-col gap-4 p-4 box-border" style="background-color: #EDEDED">
    <!-- <div class="bg-slate-400 menu">
        <span (click)="sidebar = true" class="flex items-center justify-center w-[48px] aspect-square overflow-hidden" style="border-radius: 50%;" matRipple>
            <span class="w-[24px] h-[24px] bg-no-repeat bg-contain bg-center" style="background-image: url('assets/icons/bars-solid.svg')"></span>
        </span>
    </div> -->

    <div class="w-full h-full flex items-center justify-center">
        <div class="dock w-full h-full md:max-w-[60dvw] box-border flex flex-col justify-between gap-4">
            <div class="flex flex-col gap-4 relative h-full overflow-hidden">
                <div class="title">
                    <span>Lista de Webhooks</span>
                </div>

                <div class="webhooks-list">
                    <ng-container *ngFor="let item of filteredWeHooks; let i = index">
                        <div class="list-item">
                            <div class="flex flex-row gap-4 items-center">
                                <mat-slide-toggle></mat-slide-toggle>
                                <div class="text-content">
                                    <div class="content-title">{{item.title}}</div>
                                    <div class="content-subtitle">{{item.subtitle}}</div>
                                </div>
                            </div>

                            <div class="flex flex-row gap-4">
                                <button class="mat-icon">
                                    <span class="icon edit"></span>
                                </button>

                                <button class="mat-icon">
                                    <span class="icon trash"></span>
                                </button>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="box-border px-[32px]">
                <div class="neumorphicButton webhooks">
                    <span>Adicionar Webhook</span>
                </div>
            </div>

        </div>
    </div>

</div>
