<div class="w-full h-full flex flex-col gap-4 p-4 box-border">
    <!-- <div class="bg-slate-400 menu">
        <span (click)="sidebar = true" class="flex items-center justify-center w-[48px] aspect-square overflow-hidden" style="border-radius: 50%;" matRipple>
            <span class="w-[24px] h-[24px] bg-no-repeat bg-contain bg-center" style="background-image: url('assets/icons/bars-solid.svg')"></span>
        </span>
    </div> -->

    <div class="w-full h-full flex items-center justify-center">
        <div class="dock w-full h-full md:max-w-[60dvw] box-border flex flex-col justify-between gap-4">
            <div class="flex flex-col gap-4 relative h-full overflow-hidden">
                <div class="neumorphicText title">
                    <span>Lista de Webhooks</span>
                </div>

                <div class="webhooks-list">
                    <ng-container *ngFor="let item of filteredWeHooks; let i = index">
                        <div class="webhook-list-item flex flex-col md:flex-row justify-between gap-4">
                            <div class="flex flex-row gap-4 items-center">

                                <mat-slide-toggle></mat-slide-toggle>

                                <div class="text-content">
                                    <div class="content-title">{{item.title}}</div>
                                    <div class="content-subtitle">{{item.subtitle}}</div>
                                </div>
                            </div>

                            <div class="flex flex-row gap-4 items-center justify-end">

                                <button class="neumorphicButtonIcon convex">
                                    <span class="icon">
                                        <mat-icon>edit</mat-icon>
                                    </span>
                                </button>

                                <button class="neumorphicButtonIcon convex">
                                    <span class="icon">
                                        <mat-icon>delete</mat-icon>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="box-border px-[32px]">
                <div class="neumorphicButton full bg-cyan-500 color-blend" (click)="addWebHookDialog()">
                    <span class="text-over-color">Adicionar Webhook</span>
                </div>
            </div>

        </div>
    </div>

</div>
