app-password-reset {
    --dimension: 384px;

    .dock {
        background-color: var(--mat-sys-background);
        box-shadow: var(--big-shadow-card);
        font-family: 'Nunito', sans-serif;
        width: var(--dimension);
        height: max-content;
        display: flex;
        flex-direction: column;
        gap: 32px;
        padding: 32px;
        border-radius: calc(var(--dimension) / 8);
        border: 1px solid rgba(100, 100, 100, 0.1);

        .title {
            position: relative;
            font-size: 1.4rem;
            padding: 0px 32px;
        }

    }

    @media(max-width: 640px){
        --dimension: 90%;

        .dock{
            box-sizing: border-box;
            margin: 16px;
            padding: 24px;
        }
    }
}
