<div class="relative w-full h-full overflow-hidden flex flex-col items-center justify-center">
    <div @switchAnimation class="dock">
        <form class="grid grid-cols gap-8" [formGroup]="accountResetForm">
            <div class="col-span-1">
                <mat-form-field appearance="outline" class="w-full neumorphicInput custom no_hint">
                    <input matInput formControlName="newPassword" placeholder="Nova senha" value="">
                </mat-form-field>
            </div>

            <div class="col-span-1">
                <mat-form-field appearance="outline" class="w-full neumorphicInput custom no_hint">
                    <input matInput formControlName="confirmPassword" placeholder="Repita a nova senha" value="">
                </mat-form-field>
            </div>

            <div class="col-span-1">
                <button type="button" class="neumorphicButton bg-yellow-400 color-blend full rounded"
                    [ngClass]="{'disabled': accountResetForm.invalid}">
                    <span class="text-over-color">Confirmar</span>
                </button>
            </div>

            <div class="col-span-1">
                <a [routerLink]="['/auth']" type="button" class="neumorphicButton bg-[var(--mat-sys-background)] full rounded">
                    <span class="text">Cancelar</span>
                </a>
            </div>
        </form>
    </div>
</div>
