<div class="relative w-full h-[64px] flex flex-row justify-between px-2 box-border max-w-[100dvw] items-center">

    <div class="hidden md:flex flex-row gap-4 items-center">
        <div class="font-bold" style="font-size: 1.2rem">eGovBuilder</div>

        <div class="hidden xl:flex flex-row gap-4" style="font-size: 1.0rem;">
            <span>Painel</span>
            <span>Publicação</span>
            <span>Novidades</span>
            <span>Guias</span>
        </div>

        <div class="flex xl:hidden flex-row gap-4 ">

            <button mat-flat-button>
                <span>Painel</span>
            </button>
        </div>
    </div>

    <div class="flex md:hidden flex-row gap-4 ">
        <button class="h-[48px] w-[48px] aspect-square rounded-full border-none">
            <mat-icon>menu</mat-icon>
        </button>
    </div>



    <div class="absolute top-0 left-0 right-0 h-full">
        <div class="w-full h-full flex flex-row justify-center items-center">
            <span>Home</span>
        </div>
    </div>


    <div class="msc flex flex-row gap-4 items-center">
        <div class="w-[40px] aspect-square rounded-full bg-red-500">

        </div>

        <button mat-icon-button>
            <mat-icon>notifications</mat-icon>
        </button>
    </div>

</div>
