<div class="nav-bar relative w-[100dvw] h-[64px] flex flex-row justify-between px-2 box-border items-center z-10">

    <!-- <div class="hidden md:flex flex-row gap-4 items-center">
        <ng-container *ngIf="!isMobile">
            <div class="font-bold" style="font-size: 1.2rem; color: var(--mat-sys-on-background)">Painel do
                Administrador</div>
        </ng-container>

        <div class="hidden xl:flex flex-row gap-2" style="font-size: 1.0rem;">
            <ng-container *ngFor="let item of menuItems">
                <span class="neumorphicButton small flat">
                    <span class="text">{{item.label}}</span>
                </span>
            </ng-container>
        </div>

        <div class="flex xl:hidden flex-row gap-4 ">

            <div class="neumorphicButton small">
                <span class="flex flex-row items-center text">
                    <span>Painel</span>
                    <span class="material-symbols-rounded">
                        arrow_drop_down
                    </span>
                </span>
            </div>
        </div>
    </div> -->

    <div class="flex flex-row gap-4 items-center ">

        <div class="neumorphicButtonIcon flat" (click)="toggleMenu = !toggleMenu">
            <span class="material-symbols-rounded">
                menu
            </span>
        </div>

        <ng-container *ngIf="!isMobile">
            <div class="font-bold" style="font-size: 1.2rem; color: var(--mat-sys-on-background)">Painel do
                Administrador</div>
        </ng-container>
    </div>

    <ng-container *ngIf="isMobile">
        <div class="absolute top-0 left-0 right-0 h-full select-none pointer-events-none">
            <div class="w-full h-full flex flex-row justify-center items-center">
                <span class="font-bold" style="color: var(--mat-sys-on-background);">Home</span>
            </div>
        </div>
    </ng-container>

    <div class="flex flex-row gap-4 items-center">

        <div class="w-[40px] aspect-square rounded-full bg-red-500"></div>

        <div class="neumorphicButtonIcon flat" (click)="toggleNotification = !toggleNotification">
            <span class="material-symbols-rounded">
                notifications
            </span>
        </div>


    </div>

</div>

<div class="sidenav" [ngClass]="{'show': toggleMenu}">
    <div class="sidenav-content">
        <div class="flex flex-col gap-2 w-full">
            <ng-container *ngFor="let item of menuItems">
                <a [routerLink]="item.url" routerLinkActive="router-link-active"  class="menu-item" matRipple>
                    <span>{{item.label}}</span>
                </a>
            </ng-container>
        </div>

        <div class="flex w-full rounded-xl items-center justify-center h-[48px]">
            <mat-slide-toggle [checked]="isDarkTheme" class="relative z-50"
                (change)="onThemeChange($event)"></mat-slide-toggle>
        </div>
    </div>
</div>

<div class="backdrop" (click)="toggleMenu = !toggleMenu" *ngIf="toggleMenu"></div>

<div class="notification" [ngClass]="{'show': toggleNotification}">

</div>

<div class="backdrop" (click)="toggleNotification = !toggleNotification" *ngIf="toggleNotification"></div>
