@function hex-to-rgb($hex) {
    $hex: str-slice($hex, 2); // Remove o caractere '#'
    @return (red: str-slice($hex, 1, 2),
        green: str-slice($hex, 3, 4),
        blue: str-slice($hex, 5, 6));
}

.nav-bar {
    position: relative;

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 64px;
        z-index: -10;
        background-color: rgba(0, 0, 0, 0.02);
        content: '';
    }
}

.sidenav {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0.5rem;
    width: 300px;
    top: 64px;
    border-radius: 1.5rem;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 50;
    transition: transform 0.6s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
    max-height: calc(100dvh - (64px + 1rem));
    opacity: 0;
    left: -300px;

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid var(--neumorphic-color-invert);

    transform: translateX(0);

    &.show {
        transform: translateX(100%);
        opacity: 1;
    }

    .sidenav-content {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        padding: 0.5rem;
        box-sizing: border-box;
        justify-content: space-between;

        &::-webkit-scrollbar {
            display: none;
        }

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            height: 100%;
            width: 100%;
            background: var(--concave-shadow);
            opacity: 0.2;
            content: '';
        }

        .menu-item {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 56px;
            border-radius: 1rem;
            padding: 0.5rem;
            box-sizing: border-box;
            font-size: 1.0rem;
            color: var(--mat-sys-on-background);
            cursor: pointer;
            user-select: none;
            text-decoration: none;
            font-weight: bold;
            border: 1px solid var(--neumorphic-color-invert);


            &.router-link-active {
                &:after {
                    background: var(--mat-sys-background);
                    opacity: 1 !important;
                }

            }


            &:after {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border-radius: 1rem;
                background: var(--convex-shadow);
                content: '';
                opacity: 0.2;
                z-index: -1;

            }
        }
    }
}

.notification {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0.5rem;
    width: 300px;
    border-radius: 1.5rem;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 50;

    transition: transform 0.6s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
    max-height: calc(100dvh - (64px + 1rem));
    top: 64px;
    right: calc(-300px - 1rem);
    opacity: 0;
    transform: translateX(0);

    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid var(--neumorphic-color-invert);

    &.show {
        transform: translateX(calc(-300px - 1rem));
        opacity: 1;
    }

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06) 0%, rgba(0, 0, 0, 0) 100%);
        mix-blend-mode: multiply;
        content: '';
    }
}



.user-menu {

    position: fixed;
    top: calc(1rem + 64px);
    right: 0.8rem;
    height: 250px;
    width: 270px;
    padding: 0.5rem;
    border-radius: 1.5rem;
    z-index: 50;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid var(--neumorphic-color-invert);
    overflow: hidden;
    pointer-events: none;
    opacity: 0;


    &.show {
        pointer-events: all;
        animation: slideDown .6s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--mat-sys-background);
        opacity: 0.4;
    }

    .menu-item {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 56px;
        border-radius: 1rem;
        padding: 0.5rem;
        box-sizing: border-box;
        font-size: 1.0rem;
        color: var(--mat-sys-on-background);
        cursor: pointer;
        user-select: none;
        text-decoration: none;
        font-weight: bold;
        border: 1px solid var(--neumorphic-color-invert);
        transition: var(--main-transition);

        &.danger {
            background-color: #ba1a1a4f;
            color: var(--mat-sys-error);

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }

        &:hover {
            background: var(--mat-sys-background);
        }

        &.router-link-active {
            &:after {
                background: var(--mat-sys-background);
                opacity: 1 !important;
            }

        }

        &:after {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 1rem;
            background: var(--convex-shadow);
            content: '';
            opacity: 0.2;
            z-index: -1;

        }
    }

}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 49;
}

.commonButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 24px;
    background-color: rgba(0, 0, 0, 0.02);
    color: var(--mat-sys-on-background);
    cursor: pointer;
    user-select: none;

    &:hover {
        background-color: rgba(0, 0, 0, 0.05);
    }
}


@keyframes slideDown{
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
