<div class="dialog-reset">
    <div class="flex flex-col justify-between gap-4 p-6 max-w-[800px] overflow-x-hidden">
        <div class="w-full flex flex-row justify-between font-bold" style="font-size: 1.6rem;">
            <span class="neumprphicTitle">Adicionando Whatsapp</span>

            <button (click)="close()" class="neumorphicButtonIcon flat">
                <span class="button-icon close"></span>
            </button>
        </div>
        <div class="form w-full flex flex-col gap-4">
            <div class="w-full flex flex-col md:flex-row gap-4">
                <div class="flex flex-1 flex-col gap-4">
                    <span style="font-size: 1.6rem;">Whatsapp</span>
                    <span style="font-size: 1.2rem">Use o aplicativo Whatsapp no seu telefone para escanear o
                        qrcode</span>
                    <span style="font-size: 1rem;">Para reduzir o consumo de dados no seu telefone conecte seu
                        telefone ao wifi</span>
                </div>
                <div class="flex-1 w-full h-full aspect-square fake-qr-code"></div>
            </div>

        </div>



        <div class="w-full flex flex-col justify-end gap-4">
            <button class="w-full neumorphicButton full" (click)="close()">
                <span>Cancelar</span>
            </button>
        </div>
    </div>
</div>
