.dock {
    --main-curve: 16px;


    background-color: #EDEDED;
    padding: 32px 0px;
    border-radius: 32px;
    box-shadow: 41px 41px 82px #c9c9c9,
        -41px -41px 82px #ffffff;
    font-family: 'Nunito', sans-serif;

    .title {
        color: transparent;
        text-shadow: 0px 2px 4px #fff, 0 0 0 #797979, 0px 2px 4px #fff;
        font-weight: bold;
        position: relative;
        font-size: 1.4rem;
        padding: 0px 32px;
    }

}

.contacts-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    height: 100%;
    overflow: auto;
    scroll-snap-align: start;
    scroll-behavior: smooth;
    padding: 16px 16px 16px 32px;
    box-sizing: border-box;

    &::-webkit-scrollbar {
        width: 16px;

    }

    &::-webkit-scrollbar-track {
        border-radius: var(--main-curve) var(--main-curve);
        background-color: transparent;
        margin-top: var(--main-curve);
        margin-bottom: var(--main-curve);
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 32px;
        background-color: #c9c9c9;
        background-clip: padding-box;
        border-left: 0px solid transparent;
        border-right: 0px solid transparent;
        border-top: 0px solid transparent;
        border-bottom: 0px solid transparent;
        min-height: 56px;
    }


    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 32px;
        height: 32px;
        aspect-ratio: 1/1;


        &.signal {
            background-image: url('/assets/icons/wifi-solid.svg');
        }
    }

    .info {
        display: flex;
        align-items: center;

    }

    .list-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-size: 1.2rem;

        &.active {
            color: #009416;

            &.signal {
                background-color: #009416;
            }
        }
    }

}


.dialog-reset {


    --main-curve: 16px;

    animation: up .6s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;

    .mat-mdc-dialog-container .mdc-dialog__surface {
        border-radius: 16px !important;
    }

    .mdc-text-field--outlined {
        //angular >= 16
        --mdc-outlined-text-field-container-shape: var(--main-curve) !important;
        //angular <=15
        --mdc-shape-small: var(--main-curve) !important;


    }

    .mat-mdc-form-field.custom.no_hint {
        .mat-mdc-form-field-bottom-align {
            display: none;
        }
    }


    .mat-mdc-unelevated-button {
        height: var(--mdc-filled-button-container-height, 48px) !important;
    }

    @keyframes up {
        from {
            transform: perspective(1000px) rotate3d(1, 0, 0, -45deg);
        }

        to {
            transform: perspective(1000px) rotate3d(1, 0, 0, 0deg);
        }
    }
}
