<div class="relative w-full h-full overflow-hidden flex flex-col items-center justify-center p-6 box-border">

    <div class="w-full h-full flex items-center justify-center">
        <div class="dock w-full h-full md:max-w-[60dvw] box-border flex flex-col justify-between gap-4">
            <div class="flex flex-col gap-4 relative h-full overflow-hidden">
                <div class="neumorphicText title">
                    <span>Lista de Conexões</span>
                </div>

                <div class="contacts-list">
                    <ng-container *ngFor="let item of filteredContacts; let i = index">
                        <div class="list-item" [ngClass]="{'active': item.ativo}">
                            <div class="flex flex-row gap-4">
                                <div class="icon">
                                    <mat-icon>wifi</mat-icon>
                                </div>
                                <div class="info">
                                    <span class="name">{{ item.name }}</span>
                                </div>
                            </div>
                            <div class="flex items-center gap-4">

                                <button class="neumorphicButtonIcon flat" (click)="removeWhatsappDialog(item)">
                                    <mat-icon>delete</mat-icon>
                                </button>

                                <div class="neumorphicButton" [ngClass]="{'whatsapp': item.ativo}"
                                    (click)="connectWhatsappDialog(item)">
                                    <ng-container *ngIf="item.ativo">
                                        <ng-container *ngIf="!isMobile">
                                            <span>Desconectar</span>
                                        </ng-container>
                                        <ng-container *ngIf="isMobile">
                                            <span class="icon">
                                                <ng-container *ngIf="item.ativo">
                                                    <mat-icon>link_off</mat-icon>
                                                </ng-container>
                                                <ng-container *ngIf="!item.ativo">
                                                    <mat-icon>link</mat-icon>
                                                </ng-container>
                                            </span>
                                        </ng-container>
                                    </ng-container>

                                    <ng-container *ngIf="!item.ativo">
                                        <ng-container *ngIf="!isMobile">
                                            <span class="text">Conectar</span>
                                        </ng-container>
                                        <ng-container *ngIf="isMobile">
                                            <span class="icon">
                                                <ng-container *ngIf="item.ativo">
                                                    <mat-icon>link_off</mat-icon>
                                                </ng-container>
                                                <ng-container *ngIf="!item.ativo">
                                                    <mat-icon>link</mat-icon>
                                                </ng-container></span>
                                        </ng-container>
                                    </ng-container>
                                </div>


                            </div>

                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="box-border px-[32px]">
                <div class="neumorphicButton full bg-[#00e923e4] color-blend" (click)="addWhatsappDialog()">
                    <span class="text-over-color">Adicionar Whatsapp</span>
                </div>
            </div>

        </div>
    </div>

</div>
