<div class="relative w-full h-full flex flex-col bg-[var(--mat-sys-background)]" >
    <app-main-nav-bar></app-main-nav-bar>
    <div class="inner-body relative w-full h-full box-border">
        <div class="w-full h-full flex flex-col gap-4 p-4 box-border overflow-hidden">
            <div class="w-full h-full flex items-center justify-center">
                <div class="dock w-full h-full md:max-w-[60dvw] grid grid-cols-4 md:grid-cols-6 box-border">

                    <ng-container *ngFor="let item of appList">
                        <div [routerLink]="item.link" class="flex flex-col items-center justify-center aspect-square gap-1">
                            <div class="icon">
                                <div class="absolute w-full h-full overflow-hidden select-none" style="border-radius: 32px; z-index: 3;" matRipple></div>
                                <div class="content">
                                    <span class="logo" style="background-image: url('{{item.icon}}')"></span>
                                </div>
                                <span class="squircle" [style]="item.bg">
                                    <span class="opacity-0">i</span>
                                </span>
                            </div>
                            <span class="w-full text-center" style="font-size: 12px; color: var(--mat-sys-on-background)">{{item.name}}</span>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>

    </div>
</div>




