@use 'sass:map';

/// Adds the error colors to the given palette.
@function _patch-error-palette($palette) {
    @return map.merge($palette,
        (error: (0: #000000,
                10: #410002,
                20: #690005,
                25: #7e0007,
                30: #93000a,
                35: #a80710,
                40: #ba1a1a,
                50: #de3730,
                60: #ff5449,
                70: #ff897d,
                80: #ffb4ab,
                90: #ffdad6,
                95: #ffedea,
                98: #fff8f7,
                99: #fffbff,
                100: #ffffff,
            ),
        ));
}

$red-palette: _patch-error-palette((0: #000000,
            10: #410000,
            20: #690001,
            25: #7e0001,
            30: #930001,
            35: #aa0002,
            40: #c00002,
            50: #ef0004,
            60: #ff5542,
            70: #ff8a79,
            80: #ffb4a8,
            90: #ffdad5,
            95: #ffedea,
            98: #fff8f6,
            99: #fffbff,
            100: #ffffff,
            secondary: (0: #000000,
                10: #2c1511,
                20: #442a25,
                25: #503430,
                30: #5d3f3a,
                35: #6a4b46,
                40: #775651,
                50: #926f69,
                60: #ad8882,
                70: #caa29b,
                80: #e7bdb6,
                90: #ffdad4,
                95: #ffedea,
                98: #fff8f6,
                99: #fffbff,
                100: #ffffff,
            ),
            neutral: (0: #000000,
                4: #0e0a0a,
                6: #150f0e,
                10: #231918,
                12: #271d1c,
                17: #322826,
                20: #382e2c,
                22: #3d3230,
                24: #423735,
                25: #443937,
                30: #504442,
                35: #5c504e,
                40: #685b5a,
                50: #827472,
                60: #9c8d8b,
                70: #b8a8a5,
                80: #d4c3c0,
                87: #e8d7d4,
                90: #f1dfdc,
                92: #f7e5e2,
                94: #fceae7,
                95: #ffedea,
                96: #fff1ee,
                98: #fff8f7,
                99: #fffbff,
                100: #ffffff,
            ),
            neutral-variant: (0: #000000,
                10: #2e1410,
                20: #462924,
                25: #53332e,
                30: #603e39,
                35: #6d4a44,
                40: #7a5550,
                50: #956e68,
                60: #b18780,
                70: #cda19a,
                80: #ebbcb4,
                90: #ffdad5,
                95: #ffedea,
                98: #fff8f6,
                99: #fffbff,
                100: #ffffff,
            ),
        ));

$pink-palette: _patch-error-palette((0: #000000,
            10: #3b002f,
            20: #5f004d,
            25: #73005e,
            30: #86006e,
            35: #9b007f,
            40: #b00091,
            50: #db00b5,
            60: #fe34d2,
            70: #ff7cd8,
            80: #ffade1,
            90: #ffd8ed,
            95: #ffecf4,
            98: #fff8f9,
            99: #fffbff,
            100: #ffffff,
            secondary: (0: #000000,
                10: #281622,
                20: #3f2a37,
                25: #4b3542,
                30: #57404e,
                35: #634c5a,
                40: #705766,
                50: #8a707f,
                60: #a58999,
                70: #c0a3b3,
                80: #ddbecf,
                90: #fadaeb,
                95: #ffecf4,
                98: #fff8f9,
                99: #fffbff,
                100: #ffffff,
            ),
            neutral: (0: #000000,
                4: #0d0a0c,
                6: #140f12,
                10: #21191e,
                12: #251d22,
                17: #30282c,
                20: #362e32,
                22: #3b3236,
                24: #40373b,
                25: #42393d,
                30: #4d4449,
                35: #595054,
                40: #665c60,
                50: #7f7479,
                60: #998e93,
                70: #b5a8ad,
                80: #d0c3c8,
                87: #e4d7dc,
                90: #eddfe4,
                92: #f3e5ea,
                94: #f9eaf0,
                95: #fcedf3,
                96: #fdf1f5,
                98: #fff8f9,
                99: #fffbff,
                100: #ffffff,
            ),
            neutral-variant: (0: #000000,
                10: #281622,
                20: #3f2a37,
                25: #4b3542,
                30: #57404e,
                35: #634b5a,
                40: #705766,
                50: #8a707f,
                60: #a58999,
                70: #c1a3b3,
                80: #ddbecf,
                90: #fadaeb,
                95: #ffecf4,
                98: #fff8f9,
                99: #fffbff,
                100: #ffffff,
            ),
        ));

$peach-palette: _patch-error-palette((0: #000000,
            10: #3e001b,
            20: #5a1630,
            25: #68223b,
            30: #772d46,
            35: #853952,
            40: #94445e,
            50: #b15c76,
            60: #d07590,
            70: #ee8faa,
            80: #ffb1c5,
            90: #ffd9e1,
            95: #ffecef,
            98: #fff8f8,
            99: #fffbff,
            100: #ffffff,
            secondary: (0: #000000,
                10: #2b151b,
                20: #422930,
                25: #4e343b,
                30: #5b3f46,
                35: #674b52,
                40: #74565d,
                50: #8f6f76,
                60: #aa888f,
                70: #c6a2aa,
                80: #e3bdc5,
                90: #ffd9e1,
                95: #ffecef,
                98: #fff8f8,
                99: #fffbff,
                100: #ffffff,
            ),
            neutral: (0: #000000,
                4: #0e0a0b,
                6: #140f10,
                10: #22191b,
                12: #261d1f,
                17: #31282a,
                20: #382e30,
                22: #3c3234,
                24: #413739,
                25: #43393b,
                30: #4f4446,
                35: #5b5051,
                40: #675b5d,
                50: #817476,
                60: #9b8d8f,
                70: #b7a8aa,
                80: #d3c3c5,
                87: #e7d6d9,
                90: #efdee1,
                92: #f5e4e7,
                94: #fbeaec,
                95: #feedef,
                96: #fef1f2,
                98: #fff8f7,
                99: #fffbff,
                100: #ffffff,
            ),
            neutral-variant: (0: #000000,
                10: #25181b,
                20: #3b2c30,
                25: #47373b,
                30: #534346,
                35: #5f4e52,
                40: #6c5a5e,
                50: #857276,
                60: #a08c90,
                70: #bca6aa,
                80: #d8c1c5,
                90: #f5dde1,
                95: #ffecef,
                98: #fff8f8,
                99: #fffbff,
                100: #ffffff,
            ),
        ));

$orange-palette: _patch-error-palette((0: #000000,
            10: #341100,
            20: #552100,
            25: #662900,
            30: #783100,
            35: #8b3a00,
            40: #9e4300,
            50: #c55500,
            60: #ee6800,
            70: #ff8d4d,
            80: #ffb691,
            90: #ffdbcb,
            95: #ffede6,
            98: #fff8f6,
            99: #fffbff,
            100: #ffffff,
            secondary: (0: #000000,
                10: #2c160a,
                20: #432a1d,
                25: #503528,
                30: #5c4032,
                35: #694c3d,
                40: #765848,
                50: #91705f,
                60: #ad8978,
                70: #c9a391,
                80: #e6beab,
                90: #ffdbcb,
                95: #ffede6,
                98: #fff8f6,
                99: #fffbff,
                100: #ffffff,
            ),
            neutral: (0: #000000,
                4: #0e0a08,
                6: #15100d,
                10: #231a15,
                12: #271e19,
                17: #322823,
                20: #392e29,
                22: #3d322d,
                24: #423732,
                25: #443934,
                30: #50443f,
                35: #5c504a,
                40: #695c56,
                50: #82746e,
                60: #9d8e87,
                70: #b8a8a1,
                80: #d4c3bc,
                87: #e8d7cf,
                90: #f1dfd7,
                92: #f7e5dd,
                94: #fceae3,
                95: #ffede6,
                96: #fff1eb,
                98: #fff8f6,
                99: #fffbff,
                100: #ffffff,
            ),
            neutral-variant: (0: #000000,
                10: #29170e,
                20: #402c21,
                25: #4c372c,
                30: #594236,
                35: #654d41,
                40: #72594d,
                50: #8d7164,
                60: #a88b7d,
                70: #c4a596,
                80: #e1c0b1,
                90: #fedbcc,
                95: #ffede6,
                98: #fff8f6,
                99: #fffbff,
                100: #ffffff,
            ),
        ));

$blue-palette: _patch-error-palette((0: #000000,
            10: #001e2e,
            20: #00344c,
            25: #00405b,
            30: #004c6c,
            35: #00587c,
            40: #00658e,
            50: #007fb1,
            60: #009ad6,
            70: #33b6f6,
            80: #83cfff,
            90: #c7e7ff,
            95: #e4f3ff,
            98: #f6faff,
            99: #fbfcff,
            100: #ffffff,
            secondary: (0: #000000,
                10: #001e2b,
                20: #003547,
                25: #004157,
                30: #124c63,
                35: #22586f,
                40: #30647c,
                50: #4b7d96,
                60: #6597b1,
                70: #80b2cc,
                80: #9bcde9,
                90: #c0e8ff,
                95: #e1f3ff,
                98: #f4faff,
                99: #fafcff,
                100: #ffffff,
            ),
            neutral: (0: #000000,
                10: #171c20,
                20: #2c3135,
                25: #373c40,
                30: #42474c,
                35: #4e5358,
                40: #5a5f64,
                50: #73787c,
                60: #8c9196,
                70: #a7acb1,
                80: #c2c7cc,
                90: #dee3e8,
                95: #edf1f7,
                98: #f6faff,
                99: #fbfcff,
                100: #ffffff,
                4: #0a0f13,
                6: #0f1418,
                12: #1b2024,
                17: #252b2f,
                22: #30353a,
                24: #353a3e,
                87: #d6dae0,
                92: #e4e9ee,
                94: #eaeef4,
                96: #f0f4f9,
            ),
            neutral-variant: (0: #000000,
                10: #131d24,
                20: #283239,
                25: #333d44,
                30: #3e4850,
                35: #4a545c,
                40: #556068,
                50: #6e7881,
                60: #88929b,
                70: #a2adb6,
                80: #bdc8d1,
                90: #d9e4ed,
                95: #e8f2fc,
                98: #f6faff,
                99: #fbfcff,
                100: #ffffff,
            ),
        ));

/// Blue color palette to be used as primary or tertiary palette.
$cyan-palette: _patch-error-palette((0: #000000,
            10: #002020,
            20: #003737,
            25: #004343,
            30: #004f4f,
            35: #005c5c,
            40: #006a6a,
            50: #008585,
            60: #359f9f,
            70: #55baba,
            80: #73d6d6,
            90: #90f3f2,
            95: #adfffe,
            98: #e2fffe,
            99: #f1fffe,
            100: #ffffff,
            secondary: (0: #000000,
                10: #041f1f,
                20: #1b3534,
                25: #26403f,
                30: #324b4b,
                35: #3d5757,
                40: #496363,
                50: #627c7b,
                60: #7b9695,
                70: #95b0b0,
                80: #b0cccb,
                90: #cce8e7,
                95: #daf6f5,
                98: #e3fffe,
                99: #f1fffe,
                100: #ffffff,
            ),
            neutral: (0: #000000,
                10: #181c1c,
                20: #2c3131,
                25: #373c3c,
                30: #434847,
                35: #4e5353,
                40: #5a5f5f,
                50: #737878,
                60: #8d9291,
                70: #a7acab,
                80: #c3c7c7,
                90: #dfe3e2,
                95: #edf2f1,
                98: #f6faf9,
                99: #f9fdfc,
                100: #ffffff,
                4: #0a0f0f,
                6: #0f1414,
                12: #1c2020,
                17: #262b2b,
                22: #313635,
                24: #353a3a,
                87: #d6dbda,
                92: #e5e9e8,
                94: #eaefee,
                96: #f0f4f4,
            ),
            neutral-variant: (0: #000000,
                10: #131d1d,
                20: #273232,
                25: #323e3d,
                30: #3e4949,
                35: #495554,
                40: #556160,
                50: #6e7979,
                60: #879392,
                70: #a1aead,
                80: #bdc9c8,
                90: #d9e5e4,
                95: #e7f3f2,
                98: #f0fcfb,
                99: #f2fffe,
                100: #ffffff,
            ),
        ));

$yellow-palette: _patch-error-palette((0: #000000,
            10: #221b00,
            20: #3a3000,
            25: #473a00,
            30: #544600,
            35: #625100,
            40: #705d00,
            50: #8d7500,
            60: #aa8f00,
            70: #c9a900,
            80: #e8c413,
            90: #ffe16f,
            95: #fff0c3,
            98: #fff9ef,
            99: #fffbff,
            100: #ffffff,
            secondary: (0: #000000,
                10: #2a1706,
                20: #412c19,
                25: #4e3723,
                30: #5a422d,
                35: #674d38,
                40: #745943,
                50: #8f715a,
                60: #aa8b72,
                70: #c6a58b,
                80: #e3c0a5,
                90: #ffdcc2,
                95: #ffeee2,
                98: #fff8f5,
                99: #fffbff,
                100: #ffffff,
            ),
            neutral: (0: #000000,
                4: #0e0a08,
                6: #14100c,
                10: #221a14,
                12: #261e18,
                17: #312922,
                20: #382f28,
                22: #3c332c,
                24: #413831,
                25: #433a33,
                30: #4f453e,
                35: #5b5049,
                40: #675c55,
                50: #81756d,
                60: #9b8e86,
                70: #b6a9a0,
                80: #d2c4ba,
                87: #e6d8ce,
                90: #efe0d6,
                92: #f5e6dc,
                94: #fbebe1,
                95: #feeee4,
                96: #fef1ea,
                98: #fff8f5,
                99: #fffbff,
                100: #ffffff,
            ),
            neutral-variant: (0: #000000,
                10: #241911,
                20: #3a2e25,
                25: #46392f,
                30: #52443a,
                35: #5e5045,
                40: #6a5c50,
                50: #847468,
                60: #9f8e81,
                70: #baa89b,
                80: #d6c3b5,
                90: #f3dfd0,
                95: #ffeee2,
                98: #fff8f5,
                99: #fffbff,
                100: #ffffff,
            ),
        ));

$olive-palette: _patch-error-palette((0: #000000,
            10: #1a1e00,
            20: #2e3300,
            25: #393f00,
            30: #444b00,
            35: #4f5700,
            40: #5a6400,
            50: #727d0b,
            60: #8c9829,
            70: #a7b342,
            80: #c2cf5b,
            90: #deeb73,
            95: #ecfa80,
            98: #f8ffb7,
            99: #fdffd9,
            100: #ffffff,
            secondary: (0: #000000,
                10: #1b1d07,
                20: #30321a,
                25: #3b3d24,
                30: #46492f,
                35: #52543a,
                40: #5e6045,
                50: #77795c,
                60: #919374,
                70: #abae8d,
                80: #c7c9a7,
                90: #e3e5c2,
                95: #f2f3cf,
                98: #fafcd8,
                99: #fdffda,
                100: #ffffff,
            ),
            neutral: (0: #000000,
                4: #0b0b07,
                6: #10110b,
                10: #1b1c12,
                12: #1f2016,
                17: #2a2b20,
                20: #303126,
                22: #35352a,
                24: #3a3a2e,
                25: #3c3c30,
                30: #47483b,
                35: #535346,
                40: #5f5f52,
                50: #78786a,
                60: #929183,
                70: #adac9c,
                80: #c8c7b7,
                87: #dcdbca,
                90: #e5e3d2,
                92: #ebe9d8,
                94: #f0eedd,
                95: #f3f1e0,
                96: #f6f4e3,
                98: #fcfae9,
                99: #fffdec,
                100: #ffffff,
            ),
            neutral-variant: (0: #000000,
                10: #1b1d0f,
                20: #303123,
                25: #3b3d2d,
                30: #474838,
                35: #525443,
                40: #5f604e,
                50: #787866,
                60: #91927e,
                70: #acac98,
                80: #c8c8b2,
                90: #e4e4ce,
                95: #f3f2db,
                98: #fbfbe4,
                99: #fefee7,
                100: #ffffff,
            ),
        ));

$green-palette: _patch-error-palette((0: #000000,
            10: #072100,
            20: #103800,
            25: #164500,
            30: #1b5200,
            35: #215f00,
            40: #276c00,
            50: #328800,
            60: #3fa500,
            70: #4bc300,
            80: #65e12a,
            90: #81fe48,
            95: #cdffb0,
            98: #eeffde,
            99: #f7ffec,
            100: #ffffff,
            secondary: (0: #000000,
                10: #141e0d,
                20: #283421,
                25: #333f2b,
                30: #3e4a36,
                35: #4a5641,
                40: #55624c,
                50: #6e7b64,
                60: #87957c,
                70: #a2b096,
                80: #bdcbb0,
                90: #d9e7cb,
                95: #e7f5d9,
                98: #f0fee1,
                99: #f7ffec,
                100: #ffffff,
            ),
            neutral: (0: #000000,
                4: #0a0c09,
                6: #0f110e,
                10: #191d17,
                12: #1d211b,
                17: #282b25,
                20: #2e312b,
                22: #32352f,
                24: #373a34,
                25: #393c36,
                30: #454841,
                35: #50534c,
                40: #5c5f58,
                50: #757870,
                60: #8f9289,
                70: #aaaca3,
                80: #c5c7be,
                87: #d9dbd2,
                90: #e1e3da,
                92: #e7e9e0,
                94: #edefe5,
                95: #f0f2e8,
                96: #f3f5eb,
                98: #f8faf0,
                99: #fbfdf3,
                100: #ffffff,
            ),
            neutral-variant: (0: #000000,
                10: #141e0e,
                20: #283422,
                25: #333f2c,
                30: #3e4a37,
                35: #4a5642,
                40: #56624d,
                50: #6e7b65,
                60: #88957d,
                70: #a2af97,
                80: #bdcbb1,
                90: #d9e7cc,
                95: #e8f5da,
                98: #f0fee3,
                99: #f7ffec,
                100: #ffffff,
            ),
        ));

$purple-palette: _patch-error-palette((0: #000000,
            10: #17124c,
            20: #2d2961,
            25: #38346d,
            30: #444079,
            35: #4f4b86,
            40: #5b5893,
            50: #7470ae,
            60: #8e8ac9,
            70: #a9a4e5,
            80: #c5c0ff,
            90: #e3dfff,
            95: #f3eeff,
            98: #fcf8ff,
            99: #fffbff,
            100: #ffffff,
            secondary: (0: #000000,
                10: #1a1a2b,
                20: #2f2f41,
                25: #3a394d,
                30: #464558,
                35: #525064,
                40: #5e5c71,
                50: #77758a,
                60: #918ea5,
                70: #aba9c0,
                80: #c7c4dc,
                90: #e3e0f8,
                95: #f2efff,
                98: #fcf8ff,
                99: #fffbff,
                100: #ffffff,
            ),
            neutral: (0: #000000,
                4: #0b0b0e,
                6: #101015,
                10: #1b1b23,
                12: #1f1f27,
                17: #2a2932,
                20: #302f38,
                22: #34333c,
                24: #393841,
                25: #3b3a43,
                30: #47464f,
                35: #53515b,
                40: #5f5d67,
                50: #787680,
                60: #928f9a,
                70: #acaab4,
                80: #c8c5d0,
                87: #dcd9e4,
                90: #e4e1ec,
                92: #eae7f2,
                94: #f0ecf7,
                95: #f3effa,
                96: #f6f2fc,
                98: #fcf8ff,
                99: #fffbff,
                100: #ffffff,
            ),
            neutral-variant: (0: #000000,
                10: #1b1b23,
                20: #302f39,
                25: #3c3a44,
                30: #47464f,
                35: #53515b,
                40: #5f5d67,
                50: #787680,
                60: #928f9a,
                70: #ada9b5,
                80: #c8c5d1,
                90: #e5e1ed,
                95: #f3effb,
                98: #fcf8ff,
                99: #fffbff,
                100: #ffffff,
            ),
        ));


$navy-palette: _patch-error-palette((0: #000000,
            10: #001b3e,
            20: #0a3060,
            25: #1a3b6b,
            30: #274778,
            35: #345284,
            40: #415e91,
            50: #5a77ac,
            60: #7491c7,
            70: #8eace3,
            80: #aac7ff,
            90: #d7e3ff,
            95: #ecf0ff,
            98: #f9f9ff,
            99: #fdfbff,
            100: #ffffff,
            secondary: (0: #000000,
                10: #001e2b,
                20: #003548,
                25: #004157,
                30: #004d67,
                35: #005977,
                40: #006687,
                50: #0080a9,
                60: #009ccd,
                70: #2db8ed,
                80: #73d1ff,
                90: #c1e8ff,
                95: #e2f3ff,
                98: #f4faff,
                99: #fbfcff,
                100: #ffffff,
            ),
            neutral: (0: #000000,
                4: #0a0b0d,
                6: #101013,
                10: #1a1b20,
                12: #1e1f24,
                17: #292a2f,
                20: #2f3035,
                22: #33343a,
                24: #38393f,
                25: #3a3b41,
                30: #45474c,
                35: #515258,
                40: #5d5e64,
                50: #76777d,
                60: #909096,
                70: #aaabb1,
                80: #c6c6cc,
                87: #dadae0,
                90: #e2e2e9,
                92: #e8e8ef,
                94: #ededf4,
                95: #f0f0f7,
                96: #f3f3fa,
                98: #f9f9ff,
                99: #fefbff,
                100: #ffffff,
            ),
            neutral-variant: (0: #000000,
                10: #181c23,
                20: #2d3038,
                25: #383b44,
                30: #43474f,
                35: #4f525b,
                40: #5b5e67,
                50: #747780,
                60: #8e909a,
                70: #a8abb5,
                80: #c4c6d0,
                90: #e0e2ed,
                95: #eef0fb,
                98: #f9f9ff,
                99: #fdfbff,
                100: #ffffff,
            ),
        ));


$helpdesk-palette: _patch-error-palette(( 0: #000000,
10: #001f24,
20: #00363e,
25: #00424b,
30: #004f59,
35: #005b67,
40: #006875,
50: #2f828f,
60: #4d9ca9,
70: #69b7c5,
80: #85d2e1,
90: #a1effe,
95: #d2f7ff,
98: #eefcff,
99: #f7fdff,
100: #ffffff,
            secondary: ( 0: #000000,
            10: #001f23,
            20: #00363c,
            25: #004249,
            30: #004f57,
            35: #005b65,
            40: #006973,
            50: #008490,
            60: #1e9fae,
            70: #47bac9,
            80: #67d6e5,
            90: #93f1ff,
            95: #cef8ff,
            98: #ecfcff,
            99: #f6feff,
            100: #ffffff,
            ),
            neutral: (0: #000000,
            4: #090c0c,
            6: #0e1112,
            10: #171d1e,
            12: #1b2122,
            17: #252b2c,
            20: #2b3132,
            22: #2f3536,
            24: #343a3b,
            25: #363c3d,
            30: #424849,
            35: #4d5354,
            40: #595f60,
            50: #727879,
            60: #8c9293,
            70: #a6acad,
            80: #c2c7c8,
            87: #d6dbdc,
            90: #dee3e4,
            92: #e4e9ea,
            94: #e9eff0,
            95: #ecf2f3,
            96: #eff5f6,
            98: #f5fafb,
            99: #f8fdfe,
            100: #ffffff,
            ),
            neutral-variant: (0: #000000,
            10: #141d1f,
            20: #283234,
            25: #333d3f,
            30: #3f484a,
            35: #4a5456,
            40: #566062,
            50: #6f797b,
            60: #889295,
            70: #a3adaf,
            80: #bec8cb,
            90: #dae4e7,
            95: #e8f3f5,
            98: #f1fbfd,
            99: #f7fdff,
            100: #ffffff,
            ),
        ));


$red-palette: _patch-error-palette((0: #000000,
            10: #410000,
            20: #690001,
            25: #7e0001,
            30: #930001,
            35: #aa0002,
            40: #c00002,
            50: #ef0004,
            60: #ff5542,
            70: #ff8a79,
            80: #ffb4a8,
            90: #ffdad5,
            95: #ffedea,
            98: #fff8f6,
            99: #fffbff,
            100: #ffffff,
            secondary: (0: #000000,
                10: #2c1511,
                20: #442a25,
                25: #503430,
                30: #5d3f3a,
                35: #6a4b46,
                40: #775651,
                50: #926f69,
                60: #ad8882,
                70: #caa29b,
                80: #e7bdb6,
                90: #ffdad4,
                95: #ffedea,
                98: #fff8f6,
                99: #fffbff,
                100: #ffffff,
            ),
            neutral: (0: #000000,
                4: #0e0a0a,
                6: #150f0e,
                10: #231918,
                12: #271d1c,
                17: #322826,
                20: #382e2c,
                22: #3d3230,
                24: #423735,
                25: #443937,
                30: #504442,
                35: #5c504e,
                40: #685b5a,
                50: #827472,
                60: #9c8d8b,
                70: #b8a8a5,
                80: #d4c3c0,
                87: #e8d7d4,
                90: #f1dfdc,
                92: #f7e5e2,
                94: #fceae7,
                95: #ffedea,
                96: #fff1ee,
                98: #fff8f7,
                99: #fffbff,
                100: #ffffff,
            ),
            neutral-variant: (0: #000000,
                10: #2e1410,
                20: #462924,
                25: #53332e,
                30: #603e39,
                35: #6d4a44,
                40: #7a5550,
                50: #956e68,
                60: #b18780,
                70: #cda19a,
                80: #ebbcb4,
                90: #ffdad5,
                95: #ffedea,
                98: #fff8f6,
                99: #fffbff,
                100: #ffffff,
            ),
        ));
