// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

@include mat.core();
@tailwind utilities;
@import './m3-theme.scss';

html {
    background-color: var(--mat-sys-background);

    @include mat.theme((color: (theme-type: light,
                    primary: mat.$green-palette,
                    tertiary: mat.$yellow-palette,
            ),
            typography: Nunito,
            density: 0,
        ));


    --mat-sys-shadow-bright: #f1f1f180;
    --mat-sys-shadow-dark: #c6c6c680;
    --neumorphic-color: #5c5c5c;
    --neumorphic-color-invert: #e3e3e3;
    --text-shadow: 0px 2px 2px #fff, 0 0 0 #515151, 0px 2px 2px #fff;

    --main-shadow: 5px 5px 5px var(--mat-sys-shadow-dark), -5px -5px 5px var(--mat-sys-shadow-bright);
    --main-inset-shadow: inset 5px 5px 5px var(--mat-sys-shadow-dark), inset -5px -5px 5px var(--mat-sys-shadow-bright);
    --big-shadow-card: 41px 41px 82px var(--mat-sys-shadow-dark), -41px -41px 82px var(--mat-sys-shadow-bright);
    --convex-shadow: linear-gradient(130deg, var(--mat-sys-shadow-bright) 0%, var(--mat-sys-shadow-dark) 100%);
    --concave-shadow: linear-gradient(130deg, var(--mat-sys-shadow-dark) 0%, var(--mat-sys-shadow-bright) 100%);
    --disabled-degrade: var(--mat-sys-background);
}

.dark {
    color-scheme: dark;

    @include mat.theme((color: (theme-type: dark,
                primary: mat.$green-palette,
                tertiary: mat.$yellow-palette,
            ),
            typography: Nunito,
            density: 0,
        ));



    --mat-sys-shadow-bright: #1f1f1f80;
    --mat-sys-shadow-dark: #0c0c0c80;
    --neumorphic-color: rgb(135, 135, 135);
    --neumorphic-color-invert: rgb(35, 35, 35);
    --text-shadow: 0px 2px 2px #0f0f0f, 0 0 0 #000000, 0px 2px 2px #121212;

    --main-shadow: 5px 5px 5px var(--mat-sys-shadow-dark), -5px -5px 5px var(--mat-sys-shadow-bright);
    --main-inset-shadow: inset 5px 5px 5px var(--mat-sys-shadow-dark), inset -5px -5px 5px var(--mat-sys-shadow-bright);
    --big-shadow-card: 41px 41px 82px var(--mat-sys-shadow-dark), -41px -41px 82px var(--mat-sys-shadow-bright);
    --convex-shadow: linear-gradient(130deg, var(--mat-sys-shadow-bright) 0%, var(--mat-sys-shadow-dark) 100%);
    --concave-shadow: linear-gradient(130deg, var(--mat-sys-shadow-dark) 0%, var(--mat-sys-shadow-bright) 100%);
    --disabled-degrade: var(--mat-sys-background);


}

:root {
    --main-curve: 1.5rem;
    --secondary-curve: 1.0rem;
    --main-padding: 1rem;
    --double-padding: 1rem;
    --main-transition: all .6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* You can add global styles to this file, and also import other style files */


html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Nunito, sans-serif;

    .material-symbols-rounded {
        color: var(--neumorphic-color);

        font-variation-settings:
            'FILL' 0,
            'wght' 300,
            'GRAD' 0,
            'opsz' 24
    }
}

//reset da superficie do dialog
.mat-mdc-dialog-surface {
    overflow: hidden !important;
}

.mat-mdc-form-field.custom.no_hint {

    .mat-mdc-form-field-bottom-align {
        display: none;
    }
}

.mat-mdc-dialog-container .mdc-dialog__surface {
    border-radius: 16px !important;
}

.mdc-text-field--outlined {
    //angular >= 16
    --mdc-outlined-text-field-container-shape: var(--main-curve) !important;
    //angular <=15
    --mdc-shape-small: var(--main-curve) !important;


}

.mat-mdc-form-field.custom.no_hint {
    .mat-mdc-form-field-bottom-align {
        display: none;
    }
}

.mat-mdc-slide-toggle {
    .mdc-switch__track {

        &::after,
        &::before {
            --mat-switch-track-outline-width: 0px !important;
            --mat-switch-track-outline-color: transparent !important;

        }

        &::before {
            box-shadow: var(--main-inset-shadow) !important;
            background-color: transparent !important;
        }
    }
}


.neumorphicDropdown {
    background-color: #EDEDED !important;
    border-radius: 16px !important;
    box-shadow: 16px 16px 32px #bcbcbc, -16px -16px 32px #ffffff !important;
    min-height: 64px !important;
}

.mat-mdc-menu-panel{
    border-radius: 1rem !important;
}


@import '../public/scss/neumorphicInputs.scss';
@import '../public/scss/neumorphicButtons.scss';
@import '../public/scss/neumorphicText.scss';
