// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

@include mat.core();
@tailwind utilities;

html {
    @include mat.theme((color: (theme-type: light,
                primary: mat.$azure-palette,
                tertiary: mat.$blue-palette,
            ),
            typography: Nunito,
            density: 0,
        ));

    --mat-sys-background: #ededed;

    --main-shadow: 10px 10px 10px hsl(0, 0%, 86%), -10px -10px 10px hsl(0, 0%, 96%);
    --main-inset-shadow: inset 10px 10px 10px hsl(0, 0%, 86%), inset -10px -10px 10px hsl(0, 0%, 96%);
    --big-shadow-card: 41px 41px 82px hsl(0, 0%, 86%), -41px -41px 82px hsl(0, 0%, 100%);
    --neumorphic-color: #c8c8c8;
    --text-shadow: 0px 2px 2px #fff, 0 0 0 #515151, 0px 2px 2px #fff;
    --convex-shadow: linear-gradient(130deg, hsla(0, 0%, 96%, 0) 0%, hsl(0, 0%, 86%) 100%);
    --concave-shadow: linear-gradient(130deg, hsl(0, 0%, 86%) 0%, hsl(0, 0%, 96%) 100%);
}

.overrides {
    @include mat.theme-overrides(());
}

.dark {
    color-scheme: dark;

    @include mat.theme((color: (theme-type: dark,
                primary: mat.$azure-palette,
                tertiary: mat.$blue-palette,
            ),
            typography: Nunito,
            density: 0,
        ));

    --mat-sys-background: #1d1d1d;



    --main-shadow: 5px 5px 10px #0f0f0f, -5px -5px 10px #121212;
    --main-inset-shadow: inset 10px 10px 10px #0f0f0f, inset -10px -10px 10px #121212;
    --big-shadow-card: 41px 48px 64px #0f0f0f, -48px -48px 64px #121212;
    --neumorphic-color: rgb(135, 135, 135);
    --text-shadow: 0px 2px 2px #0f0f0f, 0 0 0 #000000, 0px 2px 2px #121212;

    --convex-shadow: linear-gradient(130deg, #0f0f0f 0%, #121212 100%);
    --concave-shadow: linear-gradient(130deg, #121212 0%, #0f0f0f 100%);


}

:root{
    --main-curve: 32px;
    --main-padding: 16px;
    --double-padding: 16px;
    --main-transition: all .6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* You can add global styles to this file, and also import other style files */


html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;



}

//reset da superficie do dialog
.mat-mdc-dialog-surface {
    overflow: hidden !important;
}

.mat-mdc-form-field.custom.no_hint {

    .mat-mdc-form-field-bottom-align {
        display: none;
    }
}

.mat-mdc-dialog-container .mdc-dialog__surface {
    border-radius: 16px !important;
}

.mdc-text-field--outlined {
    //angular >= 16
    --mdc-outlined-text-field-container-shape: var(--main-curve) !important;
    //angular <=15
    --mdc-shape-small: var(--main-curve) !important;


}

.mat-mdc-form-field.custom.no_hint {
    .mat-mdc-form-field-bottom-align {
        display: none;
    }
}






.neumorphicDropdown {
    background-color: #EDEDED !important;
    border-radius: 16px !important;
    box-shadow: 16px 16px 32px #bcbcbc, -16px -16px 32px #ffffff !important;
    min-height: 64px !important;
}


@import '../public/scss/neumorphicInputs.scss';
@import '../public/scss/neumorphicButtons.scss';
@import '../public/scss/neumorphicText.scss';
